@charset "UTF-8";
@import "@/assets/css/properties.scss";

.movie-main-content {
    width: 100%;
    float: left;
    padding: 0 0 30px 0;
}

.movie-overview {
    width: calc(100% - 310px);
    float: right;
    padding: 0 0 30px 0;

    h2 {
        float: left;
        color: #f1309a;
        font-size: 18px;
        margin: 30px 0 10px 0
    }

    p {
        float: left;
        clear: both;
        color: rgba(255, 255, 255, 0.6);
        font-size: 15px;
        font-weight: 600;
        line-height: 25pt;
    }
}

.side-main {
    float: left;
    margin: -200px 0 0 -30px;
    position: relative;
    z-index: 50;
}

.movie-side-poster {
    float: left;
    position: relative;
    max-height: 408px;
    margin-left: 20px;

    img {
        position: relative;
        z-index: 100;
    }
}

.movie-actors {
    float: left;
    margin: 30px 0 0 0;
    color: rgba(255, 255, 255, 0.6);

    h2 {
        font-weight: 600;
        margin-bottom: 20px;
    }
}


@media (max-width: 450px) {
    .movie-overview h2 {
        font-size: 14px;
    }

    .movie-overview p {
        font-size: 14px;
    }
}

@media (max-width: 860px) {
    .movie-overview {
        margin: 0;
        width: 100% !important;
    }

    .movie-side-poster {
        display: none;
    }
}