@charset "UTF-8";
@import "@/assets/css/properties.scss";

#footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100vw;
  text-align: center;
  vertical-align: middle;
  
  background-color: $color-2;
  
  p {
    margin: 10px auto;
  }
}