@charset "UTF-8";
@import "@/assets/css/properties.scss";

.movie-info {
    width: 100%;
    min-height: 100vh;
}

.content-wrap {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}