@charset "UTF-8";
@import "@/assets/css/properties.scss";

.signup-page {
  background-image: url("../../img/signup-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  color: $color-4;
}

.signup-box {
  margin: 10vh auto;
  width: 30%;
  min-width: 500px;
  height: 85%;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  text-align: left;

  h2 {
    margin: 10px auto 20px auto;
  }
}

.input-box {
  width: 80%;

  label {
    display: block;
    margin: 5px 20px;
    font-size: 1.1rem;
  }

  input {
    border: 0;
    background-color: whitesmoke;
    margin: 2px auto 2px;
    padding: 20px;
    height: 25%;
    width: 100%;
    outline: none;
    color: $color-1;
    border-radius: 10px;
  }

  .validate-label {
    display: flex;
    justify-content: space-between;
  }
}

.submit-box {
  width: 80%;
  text-align: center;

  input[type="submit"] {
    display: block;
    margin: auto;
    height: 50px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    background-color: $color-3;
    color: whitesmoke;
  }

  input[type="submit"]:hover {
    background-color: #aa183d;
  }

  input[type="submit"]:disabled {
    background-color: $color-2;
  }
}

.warning-message {
  font-size: 0.8rem;
  color: $color-3;
}

.email-validate {
  display: inline-block;
  margin-left: auto;
}